/* TEMPLATE */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background-color: #eaedf2;
  overflow-x: hidden;
  // max-width: 100%;
  // width: 50em;

  section {
    margin: 0px;
  }
}

#header {
  #background {
    background-image: url("../img/img-hero.jpg");
    background-position: center;
    background-size: cover;
    height: 35vmax;
    display: flex;
    width: 100%;
    z-index: -1;
  }

  /* NAVBAR */
  nav {
    background-color: white;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
    padding: 0;

    container {
      display: flex;
      justify-content: space-between;
    }

    .navbar-toggler {
      position: relative;
      border: none;
      margin-left: 0px;
      // margin-right: 1rem;
    }

    a {
      margin: 0;
      float: left;
    }

    a h5 {
      display: inline;
    }

    a h5:hover {
      color: #29aafe;
    }

    ul {
      margin-left: 2rem;
    }

    ul li a.nav-link {
      color: black;
      display: inline;
    }

    ul li a.nav-link:hover {
      color: #29aafe;
      text-decoration: underline;
    }

    /* SEPARATOR */
    li.separator {
      background: currentColor;
      margin: auto 17px;
      display: inline-block;
      height: 25px;
      width: 1px;
      color: black;
    }
  }

  @media screen and (max-width: 500px) {
    nav a.navbar-brand {
      display: none;
    }

    nav ul.icon {
      padding-right: 10px;
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  /* HERO */
  #hero {
    text-align: center;

    h1 {
      margin: auto;
      margin-top: 9rem;
      color: white;
      text-shadow: 2px 2px 4px black;
      letter-spacing: 5px;
    }

    button {
      margin-top: 3em;
      width: 20rem;
    }

    button:hover {
      letter-spacing: 2.5px;
    }
  }
}

#content {
  margin-top: 2rem;

  .container {
    padding: none;
  }

  .card {
    width: 15rem;
    border: none;
    height: 20rem;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  #cart {

    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -62px 0 0 -62px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from {
        bottom: -100px;
        opacity: 0
      }

      to {
        bottom: 0px;
        opacity: 1
      }
    }

    @keyframes animatebottom {
      from {
        bottom: -100px;
        opacity: 0
      }

      to {
        bottom: 0;
        opacity: 1
      }
    }

    #myDiv {
      display: none;
      text-align: center;
    }

    #checkout {
      margin-bottom: 2.5rem;
      display: inline-block;

      .user-info {
        width: 100%;
        height: 100%;
        margin: 0;

        h1 {
          margin-top: 0px;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        ul li label {
          color: black;
        }

        .invoice {
          display: inline-block;
        }

      }
    }
  }

  /* Phone Devices Query */
  @media only screen and (max-width: 37.5em) {
    .card-image img {
      width: 100%;
      height: auto;
    }

    .card-image {
      flex-direction: column;
    }

    .card {
      width: 100%;
      margin-top: -4px;
    }
  }

}

#footer {
  font-size: 15px;
  color: #737373;
  height: 0 auto;
  background-color: #fafafa;

  #about {
    img {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 75px;
      height: 75px;
    }

    p {
      text-align: justify;
    }
  }

  h6 {
    color: black;
    text-transform: uppercase;
    margin-top: 2rem;
    letter-spacing: 2px;
  }

  .footer-links {
    padding-left: 0;
    list-style: none;

    a {
      color: #737373;
    }

    a:active,
    a:focus,
    a:hover {
      color: #3366cc;
      text-decoration: none;
    }
  }

  hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }

  .social-icons {
    text-align: center;
    padding-left: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-bottom: 1rem;
    }

    a {
      width: 44px;
      height: 44px;
      margin-left: 5px;
      margin-right: 8px;
      font-size: 16px;
      color: #818a91;
      line-height: 44px;
      text-align: center;
      border-radius: 100%;
      display: inline-block;
      transition: all 0.2s linear;
      background-color: #eceeef;
      -o-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
    }

    a.twitter:hover {
      background-color: #00aced;
    }

    a.facebook:hover {
      background-color: #3b5998;
    }

    a.instagram:hover {
      background-color: #d62976;
    }

    a.linkedin:hover {
      background-color: #007bb6;
    }

    a.youtube:hover {
      background-color: #fd0000;
    }

    a:active,
    a:focus,
    a:hover {
      color: #fff;
      background-color: #29aafe;
    }

    size-sm a {
      line-height: 34px;
      height: 34px;
      width: 34px;
      font-size: 14px;
    }
  }

  @media (max-width: 991px) {
    .site-footer [class^="col-"] {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
}