/* TEMPLATE */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: #eaedf2;
  overflow-x: hidden;
}

body section {
  margin: 0px;
}

#header {
  /* NAVBAR */
  /* HERO */
}

#header #background {
  background-image: url("../img/img-hero.jpg");
  background-position: center;
  background-size: cover;
  height: 35vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: -1;
}

#header nav {
  background-color: white;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
  padding: 0;
  /* SEPARATOR */
}

#header nav container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header nav .navbar-toggler {
  position: relative;
  border: none;
  margin-left: 0px;
}

#header nav a {
  margin: 0;
  float: left;
}

#header nav a h5 {
  display: inline;
}

#header nav a h5:hover {
  color: #29aafe;
}

#header nav ul {
  margin-left: 2rem;
}

#header nav ul li a.nav-link {
  color: black;
  display: inline;
}

#header nav ul li a.nav-link:hover {
  color: #29aafe;
  text-decoration: underline;
}

#header nav li.separator {
  background: currentColor;
  margin: auto 17px;
  display: inline-block;
  height: 25px;
  width: 1px;
  color: black;
}

@media screen and (max-width: 500px) {
  #header nav a.navbar-brand {
    display: none;
  }
  #header nav ul.icon {
    padding-right: 10px;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#header #hero {
  text-align: center;
}

#header #hero h1 {
  margin: auto;
  margin-top: 9rem;
  color: white;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 5px;
}

#header #hero button {
  margin-top: 3em;
  width: 20rem;
}

#header #hero button:hover {
  letter-spacing: 2.5px;
}

#content {
  margin-top: 2rem;
  /* Phone Devices Query */
}

#content .container {
  padding: none;
}

#content .card {
  width: 15rem;
  border: none;
  height: 20rem;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#content #cart {
  /* Add animation to "page content" */
}

#content #cart #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -62px 0 0 -62px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#content #cart .animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#content #cart #myDiv {
  display: none;
  text-align: center;
}

#content #cart #checkout {
  margin-bottom: 2.5rem;
  display: inline-block;
}

#content #cart #checkout .user-info {
  width: 100%;
  height: 100%;
  margin: 0;
}

#content #cart #checkout .user-info h1 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

#content #cart #checkout .user-info ul li label {
  color: black;
}

#content #cart #checkout .user-info .invoice {
  display: inline-block;
}

@media only screen and (max-width: 37.5em) {
  #content .card-image img {
    width: 100%;
    height: auto;
  }
  #content .card-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #content .card {
    width: 100%;
    margin-top: -4px;
  }
}

#footer {
  font-size: 15px;
  color: #737373;
  height: 0 auto;
  background-color: #fafafa;
}

#footer #about img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75px;
  height: 75px;
}

#footer #about p {
  text-align: justify;
}

#footer h6 {
  color: black;
  text-transform: uppercase;
  margin-top: 2rem;
  letter-spacing: 2px;
}

#footer .footer-links {
  padding-left: 0;
  list-style: none;
}

#footer .footer-links a {
  color: #737373;
}

#footer .footer-links a:active,
#footer .footer-links a:focus,
#footer .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

#footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

#footer .social-icons {
  text-align: center;
  padding-left: 0;
  list-style: none;
}

#footer .social-icons li {
  display: inline-block;
  margin-bottom: 1rem;
}

#footer .social-icons a {
  width: 44px;
  height: 44px;
  margin-left: 5px;
  margin-right: 8px;
  font-size: 16px;
  color: #818a91;
  line-height: 44px;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  transition: all 0.2s linear;
  background-color: #eceeef;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

#footer .social-icons a.twitter:hover {
  background-color: #00aced;
}

#footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}

#footer .social-icons a.instagram:hover {
  background-color: #d62976;
}

#footer .social-icons a.linkedin:hover {
  background-color: #007bb6;
}

#footer .social-icons a.youtube:hover {
  background-color: #fd0000;
}

#footer .social-icons a:active,
#footer .social-icons a:focus,
#footer .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

#footer .social-icons size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

@media (max-width: 991px) {
  #footer .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #footer .site-footer {
    padding-bottom: 0;
  }
  #footer .site-footer .copyright-text,
  #footer .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #footer .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/*# sourceMappingURL=checkout.css.map */