@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
/* TEMPLATE */
body {
  background-color: #eaedf2;
  font-family: 'Quicksand', sans-serif;
}

body section {
  margin: 0px;
}

#header {
  /* NAVBAR */
  /* HERO */
}

#header #background {
  background-image: url("../img/img-hero.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 75vmin;
  z-index: -1;
  left: 0;
  top: 0;
}

#header nav {
  /* SEPARATOR */
}

#header nav img {
  width: 30;
  height: 30;
}

#header nav a img {
  width: 29vh;
  height: 3vw;
}

#header nav ul li a.nav-link {
  color: white;
}

#header nav ul li a.nav-link:hover {
  color: white;
  text-decoration: underline;
}

#header nav ul li a img {
  width: 2vw;
  height: 4vh;
}

#header nav li.separator {
  background: currentColor;
  margin: auto 17px;
  display: inline-block;
  height: 25px;
  width: 1px;
  color: #fff;
}

#header #hero ul {
  margin-top: 15em;
  margin-bottom: 0;
  color: white;
  text-align: left;
}

#header #hero ul li img {
  width: 115px;
  height: 115px;
}

#content h1.title {
  margin-top: 5rem;
  margin-bottom: 0;
  text-align: center;
  color: #03045e;
}

#content h1.title-card {
  text-align: center;
  margin-bottom: 2rem;
}

#content .row {
  margin-top: 5%;
  margin-bottom: 5%;
}

#content #user-info {
  background-color: #0077b6;
  margin: 0 auto;
  color: white;
}

#content .card {
  width: 30em;
  float: none;
  height: 30em;
  border: none;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#footer footer {
  padding: auto;
  font-size: 15px;
  color: #737373;
  line-height: 24px;
  height: auto;
  background-color: #fafafa;
}

#footer footer #about img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75px;
  height: 75px;
}

#footer footer #about p {
  text-align: justify;
}

#footer footer h6 {
  color: black;
  text-transform: uppercase;
  margin-top: 2rem;
  letter-spacing: 2px;
}

#footer footer .footer-links {
  padding-left: 0;
  list-style: none;
}

#footer footer .footer-links a {
  color: #737373;
}

#footer footer .footer-links a:active,
#footer footer .footer-links a:focus,
#footer footer .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

#footer footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

#footer footer .social-icons {
  text-align: center;
  padding-left: 0;
  list-style: none;
}

#footer footer .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

#footer footer .social-icons a {
  width: 44px;
  height: 44px;
  font-size: 16px;
  margin-left: 5px;
  color: #818a91;
  line-height: 44px;
  margin-right: 8px;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  transition: all 0.2s linear;
  background-color: #eceeef;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

#footer footer .social-icons a.twitter:hover {
  background-color: #00aced;
}

#footer footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}

#footer footer .social-icons a.instagram:hover {
  background-color: #d62976;
}

#footer footer .social-icons a.linkedin:hover {
  background-color: #007bb6;
}

#footer footer .social-icons a.youtube:hover {
  background-color: #fd0000;
}

#footer footer .social-icons a:active,
#footer footer .social-icons a:focus,
#footer footer .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

#footer footer .social-icons size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

@media (max-width: 991px) {
  #footer footer .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #footer footer .site-footer {
    padding-bottom: 0;
  }
  #footer footer .site-footer .copyright-text,
  #footer footer .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #footer footer .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/*# sourceMappingURL=profil.css.map */