/* TEMPLATE */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background-color: #eaedf2;
  overflow-x: hidden;
  // max-width: 100%;
  // width: 50em;

  section {
    margin: 0px;
  }
}

#header {
  #background {
    background-image: url("../img/img-hero.jpg");
    background-position: center;
    background-size: cover;
    height: 35vmax;
    display: flex;
    width: 100%;
    z-index: -1;
  }

  /* NAVBAR */
  nav {
    background-color: white;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
    padding: 0;

    container {
      display: flex;
      justify-content: space-between;
    }

    .navbar-toggler {
      position: relative;
      border: none;
      margin-left: 0px;
      // margin-right: 1rem;
    }

    a {
      margin: 0;
      float: left;
    }

    a h5 {
      display: inline;
    }

    a h5:hover {
      color: #29aafe;
    }

    ul {
      margin-left: 2rem;
    }

    ul li a.nav-link {
      color: black;
      display: inline;
    }

    ul li a.nav-link:hover {
      color: #29aafe;
      text-decoration: underline;
    }

    /* SEPARATOR */
    li.separator {
      background: currentColor;
      margin: auto 17px;
      display: inline-block;
      height: 25px;
      width: 1px;
      color: black;
    }
  }

  @media screen and (max-width: 500px) {
    nav a.navbar-brand {
      display: none;
    }

    nav ul.icon {
      padding-right: 10px;
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  /* HERO */
  #hero {
    text-align: center;

    h1 {
      margin: auto;
      margin-top: 9rem;
      color: white;
      text-shadow: 2px 2px 4px black;
      letter-spacing: 5px;
    }

    button {
      margin-top: 3em;
      width: 20rem;
    }

    button:hover {
      letter-spacing: 2.5px;
    }
  }
}

#hero {
  ul {
    margin-top: 3rem;
    margin-bottom: 0;
    text-align: left;
    color: black;
  }

  ul li img {
    width: 115px;
    height: 115px;
  }

  ul li.user-info {
    margin-left: 2rem;
  }
}

#content {
  margin-top: 2rem;

  .container {
    padding: 0px none;
  }

  h1 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: vmax;
  }

  .card {
    width: 15rem;
    height: 20rem;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  #cart {

    #booking {
      grid-area: main;

      .card-container {
        // overflow: hidden;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      .float-layout {
        // padding: 5px 5px;
        // float: left;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        margin: 0;
      }

      .card-image {
        display: flex;
      }

      .card-image img {
        width: 40%;
        height: auto;
        display: flex;
        background-position: center;
        border-radius: 25px 0px 0px 25px;
      }

      .booking-card {
        width: 100%;
        border: none;
        height: 18rem;
        color: black;
        min-height: 100%;
        background-color: white;
        border-radius: 0px 25px 25px 0px;
      }

      .content {
        height: 282px;
        margin-top: 5px;
        margin-left: 7.5px;

        .card-title {
          font-weight: bold;
          display: grid;
          padding: 5px 0px 5px 5px;
          margin: 0px;

          h3 {
            margin: 0px;
          }

          .price {
            position: absolute;
            right: 0;
            margin-right: 1rem;
            margin-top: 5px;
            // display: inline;

            i {
              display: contents;
            }

            p {
              display: contents;
            }
          }

        }

        .card-desc {
          font-size: 18px;
          text-align: left;
          width: 75%;
          padding-top: 5px;
          padding-left: 5px;
        }

        .qty {
          float: right;
          text-align: center;

          button {
            border: none;
            float: right;
            margin-right: 1rem;
            background-color: transparent;
            transition: 0s background-color;
          }

          button:hover {
            background-color: #29aafe;
            border-radius: 5px;
            transition-delay: 0.1s;
          }

          label {
            float: right;
            margin-right: 1rem;
          }

          a {
            margin-right: 1rem;
          }
        }

        .license {
          margin-top: 7px;
        }
      }

      /* Phone Devices Query */
      @media only screen and (max-width: 37.5em) {
        .card-image img {
          width: 100%;
          height: auto;
        }

        .card-image {
          flex-direction: column;
        }

        .card {
          width: 100%;
          margin-top: -4px;
        }
      }
    }

    #card2 {
      position: sticky;
      height: fit-content;
      width: 100%;
      grid-area: right;


      .hr-total {
        position: relative;
        border: none;
        height: 3px;
        background: black;
      }

      h1 {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
      }

      p {
        display: inline;
        // margin-left: 4rem;
      }

      .p2 {
        float: right;
      }

      .bayar {
        display: inline;

        h5 {
          font-weight: bold;
        }
      }

      label {
        // margin-left: 3rem;
        margin-bottom: 0rem;
      }

      #btn-edit {
        border-radius: 1rem;
        text-align: center;
        margin-top: 2rem;
        background-color: #00aced;
        color: white;
      }

      #btn-edit:hover {
        letter-spacing: 2.5px;
      }
    }
  }

  #codepen {
    img {
      background-position: center;
      background-size: cover;
      object-fit: cover;
      height: 25vmax;
      width: 100%;
      z-index: -1;
    }
  }
}

#footer {
  font-size: 15px;
  color: #737373;
  height: 0 auto;
  background-color: #fafafa;

  #about {
    img {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 75px;
      height: 75px;
    }

    p {
      text-align: justify;
    }
  }

  h6 {
    color: black;
    text-transform: uppercase;
    margin-top: 2rem;
    letter-spacing: 2px;
  }

  .footer-links {
    padding-left: 0;
    list-style: none;

    a {
      color: #737373;
    }

    a:active,
    a:focus,
    a:hover {
      color: #3366cc;
      text-decoration: none;
    }
  }

  hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }

  .social-icons {
    text-align: center;
    padding-left: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-bottom: 1rem;
    }

    a {
      width: 44px;
      height: 44px;
      margin-left: 5px;
      margin-right: 8px;
      font-size: 16px;
      color: #818a91;
      line-height: 44px;
      text-align: center;
      border-radius: 100%;
      display: inline-block;
      transition: all 0.2s linear;
      background-color: #eceeef;
      -o-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
    }

    a.twitter:hover {
      background-color: #00aced;
    }

    a.facebook:hover {
      background-color: #3b5998;
    }

    a.instagram:hover {
      background-color: #d62976;
    }

    a.linkedin:hover {
      background-color: #007bb6;
    }

    a.youtube:hover {
      background-color: #fd0000;
    }

    a:active,
    a:focus,
    a:hover {
      color: #fff;
      background-color: #29aafe;
    }

    size-sm a {
      line-height: 34px;
      height: 34px;
      width: 34px;
      font-size: 14px;
    }
  }

  @media (max-width: 991px) {
    .site-footer [class^="col-"] {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
}