/* TEMPLATE */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: #eaedf2;
  overflow-x: hidden;
}

body section {
  margin: 0px;
}

#header {
  /* NAVBAR */
  /* HERO */
}

#header #background {
  background-image: url("../img/img-hero.jpg");
  background-position: center;
  background-size: cover;
  height: 35vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: -1;
}

#header nav {
  background-color: white;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
  padding: 0;
  /* SEPARATOR */
}

#header nav container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header nav .navbar-toggler {
  position: relative;
  border: none;
  margin-left: 0px;
}

#header nav a {
  margin: 0;
  float: left;
}

#header nav a h5 {
  display: inline;
}

#header nav a h5:hover {
  color: #29aafe;
}

#header nav ul {
  margin-left: 2rem;
}

#header nav ul li a.nav-link {
  color: black;
  display: inline;
}

#header nav ul li a.nav-link:hover {
  color: #29aafe;
  text-decoration: underline;
}

#header nav li.separator {
  background: currentColor;
  margin: auto 17px;
  display: inline-block;
  height: 25px;
  width: 1px;
  color: black;
}

@media screen and (max-width: 500px) {
  #header nav a.navbar-brand {
    display: none;
  }
  #header nav ul.icon {
    padding-right: 10px;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#header #hero {
  text-align: center;
}

#header #hero h1 {
  margin: auto;
  margin-top: 9rem;
  color: white;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 5px;
}

#header #hero button {
  margin-top: 3em;
  width: 20rem;
}

#header #hero button:hover {
  letter-spacing: 2.5px;
}

#hero ul {
  margin-top: 3rem;
  margin-bottom: 0;
  text-align: left;
  color: black;
}

#hero ul li img {
  width: 115px;
  height: 115px;
}

#hero ul li.user-info {
  margin-left: 2rem;
}

#content {
  margin-top: 2rem;
  /* Phone Devices Query */
}

#content .container {
  padding: 0px none;
}

#content .card {
  width: 15rem;
  border: none;
  height: 20rem;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#content #cart {
  grid-area: main;
}

#content #cart .float-layout {
  margin: 0;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#content #cart #user-info {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  grid-area: right;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5rem;
}

#content #cart #user-info h1 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

#content #cart #user-info table {
  font-size: 20px;
}

#content #cart #user-info table tr td {
  padding: 7.5px;
}

#content #cart #user-info table tr td label.label2 {
  font-weight: bold;
}

#content #cart #payment {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  grid-area: right;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5rem;
}

#content #cart #payment h1 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

#content #cart #payment .hide {
  display: none;
}

#content #cart #payment p {
  font-weight: bold;
}

#content #cart #payment input {
  margin: 0;
  margin-bottom: 1rem;
}

#content #cart #payment label {
  margin: 0;
  margin-bottom: 1rem;
}

#content #cart #payment ul {
  list-style: none;
}

#content #cart #payment .form-inline label {
  margin: 0;
  margin-right: 13rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#content #cart #payment .form-inline .col-md-6 {
  padding-left: 0;
}

#content #cart #payment .reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#content #cart #payment .reveal-if-active label {
  display: block;
  margin: 0 0 3px 0;
}

#content #cart #payment .reveal-if-active input[type=text] {
  width: 100%;
}

input[type="radio"]:checked ~ #content #cart #payment .reveal-if-active,
input[type="checkbox"]:checked ~ #content #cart #payment .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  padding: 10px 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}

#content #cart #payment form {
  max-width: 500px;
  margin: 20px auto;
}

#content #cart #payment form > div {
  margin: 0 0 20px 0;
}

#content #cart #payment form > div label {
  font-weight: bold;
}

#content #cart #payment form > div > div {
  padding: 5px;
}

#content #cart #payment form > h4 {
  color: green;
  font-size: 24px;
  margin: 0 0 10px 0;
  border-bottom: 2px solid green;
}

#content #cart #payment body {
  font-size: 20px;
}

#content #cart #payment * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 37.5em) {
  #content .card-image img {
    width: 100%;
    height: auto;
  }
  #content .card-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #content .card {
    width: 100%;
    margin-top: -4px;
  }
}

#content #card2 {
  position: -webkit-sticky;
  position: sticky;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  grid-area: right;
}

#content #card2 .hr-total {
  position: relative;
  border: none;
  height: 3px;
  background: black;
}

#content #card2 h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#content #card2 p {
  display: inline;
}

#content #card2 .p2 {
  float: right;
}

#content #card2 .bayar {
  display: inline;
}

#content #card2 .bayar h5 {
  font-weight: bold;
}

#content #card2 label {
  margin-bottom: 0rem;
}

#content #card2 #btn-edit {
  border-radius: 1rem;
  text-align: center;
  margin-top: 2rem;
  background-color: #00aced;
  color: white;
}

#content #card2 #btn-edit:hover {
  letter-spacing: 2.5px;
}

#codepen img {
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  height: 25vmax;
  width: 100%;
  z-index: -1;
}

#footer {
  font-size: 15px;
  color: #737373;
  height: 0 auto;
  background-color: #fafafa;
}

#footer #about img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75px;
  height: 75px;
}

#footer #about p {
  text-align: justify;
}

#footer h6 {
  color: black;
  text-transform: uppercase;
  margin-top: 2rem;
  letter-spacing: 2px;
}

#footer .footer-links {
  padding-left: 0;
  list-style: none;
}

#footer .footer-links a {
  color: #737373;
}

#footer .footer-links a:active,
#footer .footer-links a:focus,
#footer .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

#footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

#footer .social-icons {
  text-align: center;
  padding-left: 0;
  list-style: none;
}

#footer .social-icons li {
  display: inline-block;
  margin-bottom: 1rem;
}

#footer .social-icons a {
  width: 44px;
  height: 44px;
  margin-left: 5px;
  margin-right: 8px;
  font-size: 16px;
  color: #818a91;
  line-height: 44px;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  transition: all 0.2s linear;
  background-color: #eceeef;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

#footer .social-icons a.twitter:hover {
  background-color: #00aced;
}

#footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}

#footer .social-icons a.instagram:hover {
  background-color: #d62976;
}

#footer .social-icons a.linkedin:hover {
  background-color: #007bb6;
}

#footer .social-icons a.youtube:hover {
  background-color: #fd0000;
}

#footer .social-icons a:active,
#footer .social-icons a:focus,
#footer .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

#footer .social-icons size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

@media (max-width: 991px) {
  #footer .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #footer .site-footer {
    padding-bottom: 0;
  }
  #footer .site-footer .copyright-text,
  #footer .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #footer .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/*# sourceMappingURL=booking.css.map */